<div id="sidebar">
	<h1>
		<NavLink href="/">
			<img id="logo" src="/logo-light.png" alt="GameBox">
		</NavLink>
	</h1>

	<nav>
		<ul>
			<li>
				<NavLink href="/collection">
					<Icon Type="Icon.IconType.Box" />
					Collection
				</NavLink>
			</li>
			<li>
				<NavLink href="/wishlist">
					<Icon Type="Icon.IconType.Copywriting" />
					Wishlist
				</NavLink>
			</li>
			<li>
				<NavLink href="/settings">
					<Icon Type="Icon.IconType.Cog" />
					Settings
				</NavLink>
			</li>
		</ul>
	</nav>
</div>
