<div id="sidebar">
	<h1><img id="logo" src="/logo-light.png" alt="GameBox"></h1>

	<nav>
		<ul>
			<li>
				<NavLink class="active" href="collection">
					<Icon Type="Icon.IconType.ListRich" />
					Collection
				</NavLink>
			</li>
			<li>
				<NavLink href="wishlist">
					<Icon Type="Icon.IconType.Copywriting" />
					Wishlist
				</NavLink>
			</li>
			<li>
				<NavLink href="settings">
					<Icon Type="Icon.IconType.Cog" />
					Settings
				</NavLink>
			</li>
		</ul>
	</nav>
</div>
