ul {
	column-gap: 10px;
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	list-style: none;
	margin: 0;
	padding: 0;
	row-gap: 10px;
}

ul ::deep a {
	border: 3px solid transparent;
	border-radius: 3px;
	display: block;
	padding: 1px;
}

ul ::deep a:hover {
	border-color: #C00;
}

ul ::deep img {
	border-radius: 3px;
	display: block;
	width: 100%;
}
