:root {
	--background: #16181c;
	--background-field: #30394c;
	--background-secondary: #242832;
	--field-placeholder: #6c757d;
	--text: #e4f6ff;
	--text-footer: #6c757d;
	--text-secondary: #8f9ca7;
}

body {
	height: 100%;
	margin: 0;
}

html {
	background: var(--background);
	color: var(--text);
	font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif;
}

img {
	max-width: 100%;
}
